{% load static %}
<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hotel</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" media="screen">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

<div class="navbar navbar-inverse navbar-default navbar-fixed-top">
    <div class="container">
        <!--HAMBURGER MENU-->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand model_title" href="#"></a>
        </div>
        <!--/HAMBURGER MENU-->

        <div id="nav_toplevel" class="collapse navbar-collapse">
            <ul id="nav_main" class="nav navbar-nav">
                <li style="font-size: large"><a href="/">System zarządzania hoteli</a></li>
                {% if user.is_authenticated %}
                    <li><a href="/list_all_clients">Klienci</a></li>
                    <li><a href="/list_all_services/active">Wszystkie serwisy</a></li>
                    <li><a href="/list_all_reservations/active">Wszystkie rezerwacje</a></li>
                    <li><a href="/new_client">Nowy klient</a></li>
                {% endif %}
            </ul>
            <ul class="nav navbar-nav navbar-right" style="cursor: pointer">
                {% if user.is_authenticated %}
                    <li><a href="/list_my_services">Moje serwisy</a></li>
                    <li><a href="/profile">Witaj {{ user.employer.Name }}</a></li>
                    <li><a href="/logout">Wyloguj się</a></li>
                {% endif %}
                {% if not user.is_authenticated %}
                    <li><a href="/login">Zaloguj się</a></li>
                {% endif %}
            </ul>

        </div>
    </div>
</div>

<!-- Page Content -->
{% block content %}
{% endblock %}
<!-- /.container -->

</body>
</html>