{% extends 'base.html' %}

{% block content %}

    <body class="container">
    <div class="container-fluid">
    <p>
        <a class="btn btn-default" href="/list_all_services/active">aktywne usługi</a>
        <a class="btn btn-default" href="/list_all_services/history">zakończone usługi</a>
        <h2 class="text-center" style="padding-bottom: 1em">Aktywne usługi</h2>
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th>Lp.</th>
                <th>Klient</th>
                <th>Hotel</th>
                <th>Numer pokoju</th>
                <th>Usługa</th>
                <th>Przypisany pracownik</th>
                <th>Data rozpoczęcia</th>
                <th>Data zakończenia</th>
            </tr>
            </thead>
            <tbody>
            {% for service in services %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ service.reservation.client.Name }}</td>
                    <td>{{ service.reservation.hotel }}</td>
                    <td>{{ service.reservation.roomNumber }}</td>
                    <td>{{ service.serviceName.serviceName }}</td>
                    <td>{{ service.employer.Name }}</td>
                    <td>{{ service.startDate }}</td>
                    <td>{{ service.endDate }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    </body>

{% endblock %}