{% extends 'base.html' %}

{% block content %}

    <body class="container">
    <div class="container-fluid">
    <p>
        <a class="btn btn-default" href="/list_all_reservations/active">aktywne rezerwacje</a>
        <a class="btn btn-default" href="/list_all_reservations/history">zakończone rezerwacje</a>
        <h2 class="text-center" style="padding-bottom: 1em">Aktywne rezerwacje</h2>
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th>Lp.</th>
                <th>Klient</th>
                <th>Hotel</th>
                <th>Numer pokoju</th>
                <th>Data rozpoczęcia</th>
                <th>Data zakończenia</th>
            </tr>
            </thead>
            <tbody>
            {% for reservation in reservations %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ reservation.client.Name }}</td>
                    <td>{{ reservation.hotel }}</td>
                    <td>{{ reservation.roomNumber }}</td>
                    <td>{{ reservation.startDate }}</td>
                    <td>{{ reservation.endDate }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    </body>

{% endblock %}