{% extends 'base.html' %}
{% load static %}
{% block content %}

    <body class="container">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <img src="{% static 'img/avatar.jpg' %}">
            </div>
            <div class="col-md-9" style="padding-top: 2em">
                <h4> Imię i nazwisko: {{ client.Name }} </h4>
                <h4 style="padding-top: 1em"> Data urodzenia: {{ client.dateOfBirth }} </h4>
                <h4 style="padding-top: 1em"> Numer telefonu: {{ client.telNumber }} </h4>
                <h4 style="padding-top: 1em"> Numer dowodu osobistego: {{ client.idNumber }} </h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <a class="btn btn-default" href={% url 'registerNewReservationPeriod' client.id %}>Dodaj rezerwację</a>
                <a class="btn btn-default" href={% url 'registerNewServicePeriod' client.id %}>Dodaj usługę</a>
            </div>
        </div>
        {% if activeReservations %}
        <h3 class="text-center" style="padding-bottom: 1em">Aktywne rezerwacje</h3>
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th>Lp.</th>
                <th>Hotel</th>
                <th>Numer pokoju</th>
                <th>Data rozpoczęcia</th>
                <th>Data zakończenia</th>
            </tr>
            </thead>

            <tbody>
            {% for reservation in activeReservations %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ reservation.hotel.hotelName }}</td>
                    <td>{{ reservation.roomNumber }}</td>
                    <td>{{ reservation.startDate }}</td>
                    <td>{{ reservation.endDate }}</td>
                    <td><a href="{% url 'editReservationPeriod' client.id reservation.id %}">
                        <button class="btn btn-default">Edytuj</button></a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
    {% if activeServices %}
    <h3 class="text-center" style="padding: 1em">Aktywne usługi</h3>
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th>Lp.</th>
                <th>Nazwa usługi</th>
                <th>Numer rezerwacji</th>
                <th>Przypisany pracownik</th>
                <th>Data rozpoczęcia</th>
                <th>Data zakończenia</th>
                <th>Dodatkowe informacje</th>
            </tr>
            </thead>
            <tbody>
            {% for service in activeServices %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ service.serviceName.serviceName }}</td>
                    <td>{{ service.reservation.id }}</td>
                    <td>{{ service.employer.Name }}</td>
                    <td>{{ service.startDate }}</td>
                    <td>{{ service.endDate }}</td>
                    <td>{{ service.addInformation }}</td>
                    <td><a href="{% url 'editServicePeriod' client.id service.id %}">
                        <button class="btn btn-default">Edytuj</button></a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
    {% if historyReservations %}
    <h3 class="text-center" style="padding-bottom: 1em">Zakończone rezerwacje</h3>
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th>Lp.</th>
                <th>Hotel</th>
                <th>Numer pokoju</th>
                <th>Data rozpoczęcia</th>
                <th>Data zakończenia</th>
            </tr>
            </thead>
            <tbody>
            {% for reservation in historyReservations %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ reservation.hotel.hotelName }}</td>
                    <td>{{ reservation.roomNumber }}</td>
                    <td>{{ reservation.startDate }}</td>
                    <td>{{ reservation.endDate }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
    {% if historyServices %}
    <h3 class="text-center" style="padding: 1em">Zakończone usługi</h3>
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th>Lp.</th>
                <th>Nazwa usługi</th>
                <th>Numer rezerwacji</th>
                <th>Przypisany pracownik</th>
                <th>Data rozpoczęcia</th>
                <th>Data zakończenia</th>
                <th>Dodatkowe informacje</th>
            </tr>
            </thead>
            <tbody>
            {% for service in historyServices %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ service.serviceName.serviceName }}</td>
                    <td>{{ service.reservation.id }}</td>
                    <td>{{ service.employer.Name }}</td>
                    <td>{{ service.startDate }}</td>
                    <td>{{ service.endDate }}</td>
                    <td>{{ service.addInformation }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
    </div>
    </body>

{% endblock %}