{% extends 'base.html' %}
{% load static %}

{% block content %}

    <body class="container">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <img src="{% static 'img/avatar.jpg' %}">
            </div>
            <div class="col-md-9" style="padding-top: 2em">
                <h4> Imię i nazwisko: {{ user.employer.Name }} </h4>
                <h4 style="padding-top: 1em"> Data urodzenia: {{ user.employer.dateOfBirth }} </h4>
                <h4 style="padding-top: 1em"> Numer telefonu: {{ user.employer.telNumber }} </h4>
                <h4 style="padding-top: 1em"> Miejsce pracy: {{ user.employer.hotel.hotelName }} </h4>
            </div>
        </div>
    </div>
    </body>

{% endblock %}