{% extends 'base.html' %}

{% block content %}

    <body class="container">
    <div class="container-fluid">
        <h2 class="text-center">Witaj w serwisie</h2>
    </div>
    </body>

{% endblock %}