{% extends 'base.html' %}
{% load bootstrap3 %}
{% block content %}

    <body class="container">
    <div class="container-fluid">
        <h2 class="text-center" style="padding-bottom: 1em">Klienci</h2>
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th>Lp.</th>
                <th>Imię</th>
                <th>Nazwisko</th>
                <th>Numer Telefonu</th>
                <th>Numer dowodu</th>
            </tr>
            </thead>
            <tbody>
            {% for client in clients %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ client.name }}</td>
                    <td>{{ client.lastName }}</td>
                    <td>{{ client.telNumber }}</td>
                    <td>{{ client.idNumber }}</td>
                    <td><a href="{% url 'listAllServicesAndReservationsForSpecificClient' client.id %}">
                        <button type="submit" class="btn btn-primary">Pokaż profil</button></a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    </body>

{% endblock %}