{% extends 'base.html' %}
{% load bootstrap3 %}

{% block content %}
    <body class="container">
    <div class="container-fluid">
        <div class="col-md-6 col-md-offset-3">
            <h1 class="text-center">Zaloguj się</h1>
            <form action="/login/" method="POST">
                {% csrf_token %}
                {% bootstrap_form form %}
                <button type="submit" class="btn btn-primary" value="login">
                    Zaloguj
                </button>
            </form>
        </div>
    </div>
    </body>

{% endblock %}