{% extends 'base.html' %}
{% load bootstrap3 %}
{% block content %}

    <body class="container">
    <div class="container-fluid">
        <form action="/new_client/" method="POST">
            {% csrf_token %}
            {% bootstrap_form form %}
            <button type="submit" class="btn btn-primary">
                    Potwierdź dane
            </button>
        </form>
    </div>
    </body>

{% endblock %}