{% extends 'base.html' %}
{% load bootstrap3 %}

{% block content %}
    <body class="container">
    <div class="container-fluid">
        <form action="/signup/" method="POST">
            {% csrf_token %}
            {% bootstrap_form form %}
            <button type="submit" class="btn btn-primary" value="zarejestruj">
                    Zarejestruj
            </button>
        </form>
    </div>
    </body>

{% endblock %}